Brotli==1.1.0
certifi==2025.7.14
charset-normalizer==3.4.2
idna==3.10
mutagen==1.47.0
pycryptodomex==3.23.0
pytubefix==9.3.0
requests==2.32.4
tqdm==4.66.2
urllib3==2.5.0
websockets==15.0.1
yt-dlp==2025.7.21
